{% extends 'base.html' %}

{% block header %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Divya Jal Suppliers</h1>
      <p class="lead">Please use this app to track your business. In this app you can do the following tasks</p>
      <ol>
        <li>Add a new Customer</li>
        <li>Add a new Need for a Customer</li>
        <li>Check for the Pending Amount</li>
        <li>And Visualize the progress</li>
      </ol>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-header bg-transparent">Add</div>
      <div class="card-body">
        <h5 class="card-title">Add a New Customer</h5>
        <p class="card-text">To add a new customer. Please enter all the details for future use. Make sure to confirm before adding.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-transparent">View/Edit</div>
      <div class="card-body">
        <h5 class="card-title">View All Customer</h5>
        <p class="card-text">To view all the details of the customers added. Also you can select and edit an existing customer's details.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-transparent">Edit</div>
      <div class="card-body">
        <h5 class="card-title">Edit a Customer</h5>
        <p class="card-text">To edit an existing customer's details.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
{% endblock %}