{% extends 'base.html' %}

{% block header %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Divya Jal Suppliers</h1>
      <p class="lead">Please use this app to track your business. In this app you can do the following tasks</p>
      <ol>
        <li>Add a new Customer</li>
        <li>Add a new Need for a Customer</li>
        <li>Check for the Pending Amount</li>
        <li>And Visualize the progress</li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
{% endblock %}